@charset 'utf-8';

// vendors
@import '~ress/ress';

// reset

body {
  overflow-x: hidden;
  font-size: 13px;
  color: #13002d;
  letter-spacing: 1px;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

// Eliminate extra whitespace caused by img element that inserted by access analysis script
body > img {
  display: block;
  // stylelint-disable-next-line declaration-no-important
  height: 0 !important;
  font-size: 0;
}

.container_30UTmB {
  padding: 0;
}