$btn-color: #333;
$btn-width: 300;
$btn-height: 70;
.c-button {
  border: 1px solid $btn-color;
  width: #{$btn-width}px;
  height: #{$btn-height}px;
  display: flex;
  align-items: center;
  justify-content: center;
}